body{
    text-align: center;
}

div.me{
    float: right;
}

div.me h2{
    text-decoration: underline;
}

div.move{
    float: left;
    margin: 15px;
    text-align: left;
}

div.move h3, div.passion h2{
    text-decoration: underline;
}

h2.h2{
    float: right;
}
div.me img{
    width: 200px;
}
div.passion{
    float: right;
}

div.some{
    float: left;
}

div.some h3{
    text-decoration: underline;
}

div.school{
    float: right;
}

div.school h5{
    text-decoration: underline;
}

div.card p{
    text-decoration: underline;
}
div.card{
    float: left;
}