body{
    text-align: center;
}
div.me {
    float: right;
}
div.move{
    float: left;
    margin: 15px;
    text-align: left;
}
div.move p{
    text-decoration: underline;
}
div.me img{
    width: 200px;
}
div.passion{
    float: right;
}
div.some{
    float: left;
}
div.school{
    float: right;
}